@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
	background-color: #fff;
	color: #fff;
	font-family: 'Noto Sans TC', sans-serif;
	filter: grayscale(100%) opacity(.5);
}
body.demo-1 {
	width: 100%;
	overflow: hidden;
}
.wrap {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.effect {
	filter: grayscale(100%) opacity(.5);
}
.bottom-nav {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
}
.btn {
	margin: 0;
}
.btn-1.btn-1e:hover {
	position: relative;
	color: #fff;
	border-color: #0e83cd;
	border-width: 5px;
}
.btn-1.btn-1e:hover {
	filter: grayscale(0%);
}
.btn-1e::after {
	background: #0e83cd;
}
.btn2 {
	padding-right: 150px;
	padding-left: 150px;
}
.btn2 a {
	color: #fff;
}
.enter {
	position: absolute;
	opacity: 0;
	left: 50%;
	bottom: 0px;
	transform: translateX(-50%);
}
@media(max-width: 1920px){
	.wrap {
		width: 100%;
		overflow: hidden;
	}
}
@media(max-width: 875px){
	.trigger-headline {
		font-size: 70px;
	}
	.btn2 {
		width: 500px;
	}
}
@media(max-width: 768px){
	.btn2 {
		width: 450px;
	}
}
@media(max-width: 767px){
	.trigger-headline {
		font-size: 35px;
	}
}
@media(max-width: 414px){
	.trigger-headline {
		font-size: 35px;
	}
	.btn2 {
		padding-right: 80px;
		padding-left: 80px;
		width: 300px;
	}
}
@media(max-width: 320px){
	.trigger-headline {
		font-size: 25px;
	}
	.btn {
		padding: 25px;
		font-size: 15px;
	}
}